@import "tailwindcss";

:root {
  --space: #0A0A0A;
  --island: #171717;
  --island-disabled: #17171766;

  --element: #FFFFFF;
  --element-sub: #FFFFFF66;
  --element-sub-solid: #747474;
  --element-disabled: #FFFFFF33;
  --element-disabled-solid: #454545;

  --accent: #623DD3;
  --accent-dark: #412AC766;

  --error: #DA1C1C;

  --font-weight-bold: 600
}

@theme inline {
  --color-*: initial;
  --color-space: var(--space);
  --color-island: var(--island);
  --color-far-island: var(--island-disabled);

  --color-element: var(--element);
  --color-element-sub: var(--element-sub);
  --color-element-sub-solid: var(--element-sub-solid);
  --color-element-disabled: var(--element-disabled);
  --color-element-disabled: var(--element-disabled-solid);

  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);

  --color-error: var(--error);

  --font-sans: var(--font-roboto-flex), system-ui, sans-serif;
  --tw-font-weight: var(--font-weight-bold);
}

@layer utilities {
  .text-heading {
    font-variation-settings:
      "wdth" 100,
      "XOPQ" 125,
      "XTRA" 800,
      "YTDE" -170,
      "wght" 800;
    font-optical-sizing: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .error-border {
    box-shadow: inset 0 0 0 2px var(--error);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --space: #0A0A0A;
    --island: #171717;
    --island-disabled: #17171766;

    --color-element: var(--element);
    --color-element-sub: var(--element-sub);
    --color-element-disabled: var(--element-disabled);
  }
}

body {
  background-color: var(--space);
  color: var(--element);
  font-family: var(--font-roboto-flex), Helvetica, sans-serif;
}

button {
  text-align: start;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}